<div class="d-flex justify-content-between align-items-center p-3 bg-light text-secondary border-bottom">
  <h5 class="m-0"><%= link_to 'Wikinimous', articles_path, :class => "text-secondary"  %></h5>
  <p class="m-0"><%= link_to 'New Article', articles_new_path, :class => "text-secondary"  %></p>
</div>
